
body {
    font: normal 14px Helvetica, serif; 
    color: #373737;
    background-color: #F4F4F4;
    margin: 10%;    
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:   'header'
                           'about-me'
                           'work'
                           'skills';    
}

.dashed {
    border: 2px dashed #373737;
    border-radius: 10px;
}

header {
    text-align: center;
    grid-area: header;
    color: #C0B283;
    font: bold 20px "Times New Roman", Times, serif;
}  

.about-me {
    grid-area: about-me;
}

.work {
    grid-area: work;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-template-areas: 'top'
                         'bottom'; 
    overflow: hidden;  
}

.left {
    display: flex;
    justify-content: space-between;
}

.top {
    grid-area: top;
}
.bottom {
    grid-area: bottom;
}

.experience {
    width: 50%;
}
.description {
    width: 50%;
 }


.skills {
    flex-flow: row wrap;
    justify-content: center;
    grid-area: skills;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(60px, 1fr));
    grid-template-rows: repeat(7, auto);
    grid-gap: 10px;
}

.skills li {
    margin: 15px;
    padding: 5px;
    border: 1px solid #373737;   
    list-style-image: url('./icon2.png'); 
} 

li::before {
    content: url('./icon2.png');
}

header:hover {
    text-decoration: underline;
    animation-name: pulse;
    animation-duration: 0.5s;
}

.about-me:hover {
    animation-name: pulse;
    animation-duration: 0.5s;
}

.about-me:hover legend {
    font-size: 20px;
    color: #C0B283;
}

.work:hover {
    animation-name: pulse;
    animation-duration: 0.5s;
}

.work:hover legend {
    font-size: 20px;
    color: #C0B283;
}

.left:hover {
    font-size: 110%;
}

.left:hover strong {
    color: #C0B283;
}

.skills:hover {
    animation-name: pulse;
    animation-duration: 0.5s
}

.skills:hover legend {
    font-size: 20px;
    color: #C0B283;
}

.skills li:hover {
    background-color: #DCD0C0;
    font-size: 130%;
    text-decoration: underline;    
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 0.8;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #C0B283;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;   

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 60%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}

@media (min-width: 600px) {
    body {
        font-size: 1.1em;
        line-height: 1.3;    
    }
}