.container {
    height: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                        "about about about skills"
                        "experience experience experience skills"
                        "footer footer footer footer";
    grid-gap: 10px;
    background-color: white;
    border: none;
}

div {
    border: solid 1px black;
    background-color: grey;
}

#header {
    grid-area: header;
}

#experience {
    grid-area: experience;
}

#about {
    grid-area: about;
}
#skills {
    grid-area: skills;
}

#footer {
    grid-area: footer;
}