
div {
    border: solid 1px #000;
    background-color: #808080;
}

p {
    font-size: 12px;
    margin-left: 5px;
}

.container {
    background-color: #FFF;
    border: none;
    margin: 20px;
    display: grid;
    grid-gap: 10px;    
}

#header {
    grid-area: header;
}

#experience {
    grid-area: experience;
}

#about {
    grid-area: about;
}
#skills {
    grid-area: skills;
}

#footer {
    grid-area: footer;
}

@media only screen and (min-width : 360px) {

    .container {
        height: 100vh;
        width: 60vw;
        grid-template-rows: 15% auto auto 15% 5%;
        grid-template-areas: "header"
                             "about"
                             "experience"
                             "skills"
                             "footer";
    }

}

@media only screen and (min-width : 768px) {

    .container {
        height: 100vh;
        width: 100vw;
        margin: 20px;
        grid-template-columns: 85% 15% ;
        grid-template-rows: 20% auto auto 5%;
        grid-template-areas: "header header"
                             "about skills"
                             "experience skills"
                             "footer footer";
    }

}

@media only screen and (min-width : 992px) {

    .container {
        height: 100vh;
        width: 100vw;
        grid-template-columns: 45% 45% 10% ;
        grid-template-rows: 20% 75% 5%;
        grid-template-areas: "header header header"
                             "about experience skills"
                             "footer footer footer";
    }

}